@font-face {
    font-family: 'Bw Modelica LTI';
    src: url('BwModelicaLTI-Light.woff2') format('woff2'),
        url('BwModelicaLTI-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bw Modelica';
    src: url('BwModelica-Regular.woff2') format('woff2'),
        url('BwModelica-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bw Modelica';
    src: url('BwModelica-Light.woff2') format('woff2'),
        url('BwModelica-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bw Modelica LTI';
    src: url('BwModelicaLTI-Bold.woff2') format('woff2'),
        url('BwModelicaLTI-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bw Modelica';
    src: url('BwModelica-Bold.woff2') format('woff2'),
        url('BwModelica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

