@font-face {
	font-family: 'Bw Modelica';
	src: url(../../assets/fonts/BwModelica-Regular.woff2) format('woff2'),
	url(../../assets/fonts/BwModelica-Regular.woff) format('woff');
	font-weight: 500;
	font-style: normal;
}