.active {
  background: #eaeae6;
}

.active {
  background: #ff6600;
}

.active ~ li {
  background: grey;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.active {
  color: #000;
  background: none;
}

.active {
  background: #eaeae6;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.active {
  color: #000;
  background: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

.active {
  color: #000!important;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.active {
  color: #000;
  background: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

.active {
  color: #000!important;
}

